#wrapper
{
    display: grid;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30vh auto 2rem;
    grid-template-areas:
        "scope scope"
        "preview menu"
        "footer footer";
}

@media (orientation: portrait)
{
    #wrapper
    {
        grid-template-columns: 100%;
        grid-template-rows: 10vh calc(30vh + 3rem) auto 2rem;
        grid-template-areas:
            "scope"
            "preview"
            "menu"
            "footer";
    }
}

#box-scope
{
    grid-area: scope;
    background: #0004;
}

#box-scope canvas
{
    width: 100%;
    height: 100%;
}

#box-preview
{
    grid-area: preview;
    background: #0002;
}

#box-menu
{
    grid-area: menu;
    overflow-y: scroll;
}

#box-footer
{
    grid-area: footer;
}

.tab-content
{
    padding-top: 1rem;
}

#source-pages
{
    width: 100%;
    height: 100%;
}

#source-list,
#source-cameras,
#box-menu
{
    padding: 1rem;
}

#canvas1
{
    height: 30vh;
}

.unstable
{
    opacity: 0.8;
    background: #ff01;
    border: 1px solid #ff02;
    border-radius: 0.25em;
    padding: 1em;
}
